.map-container {
  height: 400px;
  width: 100%;
}
select {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  margin: 50px 700px;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  outline: none;
}
.zoom-input {
  margin: 50px 700px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  width: 200px;
}

.zoom-input:focus {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

option {
  padding: 10px;
}
@media only screen and (max-width: 414px) {
  .map-container {
    height: 400px;
    width: 414px;
    margin: 20px;
  }
  select {
    margin: 50px 150px;
  }
  .zoom-input {
    margin: 20px 130px;
  }
}
